<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("logo.png", alt: "vivallum logo", id: "logo"), '/' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Productos", producto_path %>
            <ul>
              <li>Interior</li>
              <li>Exterior</li>
              <li>Complementos</li>
              <li>Leds</li>  
            </ul>
        </li>
        <li><%= link_to "Proyectos", proyecto_path %></li>
        <li><%= link_to "Marcas", marcas_path %></li>
        <li><%= link_to "News", news_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
